@tailwind base;
@tailwind components;
@tailwind utilities;

.vue3-star-ratings__icon{
    width: 12px !important;
    height: 12px !important;
}
.button {
    background-color: #50b473; /* Màu xanh lá nhạt */
    color: rgb(239, 235, 235); /* Màu chữ trắng */
    padding: 6px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


.bg-green{
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 109, 56) 100%, rgb(0, 109, 56) 100%);
}
.main > div{
    height: 100% !important;
}

.demo-app-calendar{
    height: 100% !important;
    overflow: hidden !important;
}

div .fc-view-harness .fc-view-harness-active{
    height: 100% !important;
    overflow-y: auto !important;
}

.fc-scrollgrid tbody{
    overflow-y: auto !important;
}