.gradient-custom {
  background: 
  linear-gradient(0deg, #ffffff, #ffc66425), /* Lớp gradient đầu tiên */
  linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)), /* Lớp gradient thứ hai */
  url('@/assets/imgs/bg10.jpg') no-repeat center / cover; /* Lớp hình ảnh */
  }
  .bg-login:after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/waves-bg.svg) no-repeat center bottom;
}
.gradient-custom-forgot {
  background: 
  linear-gradient(0deg, #ffffff, #ffc66425), /* Lớp gradient đầu tiên */
  linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)), /* Lớp gradient thứ hai */
  url('@/assets/imgs/background.avif') no-repeat center / cover; /* Lớp hình ảnh */
}
